/.vs
/src/NobleBeauty/bin
/src/NobleBeauty/obj
/packages
/NobleBeautyMvc5/bin
/NobleBeautyMvc5/obj
/Wmb.Mmn.Common/bin
/Wmb.Mmn.Common/obj
/NobleBeautyMvc5/NobleBeautyMvc5.csproj.user
/NobleBeautyMvc5/Uploads/Temp
/NobleBeautyMvc5/Uploads/Produtos
/NobleBeautyMvc5/Uploads/ProdutosEspecialidades
/NobleBeautyMvc5/Uploads/Premios/*.jpg
/NobleBeautyMvc5/Uploads/Premios/*.png
/NobleBeautyMvc5/Uploads/Kits/4ad9f35e-684b-4370-8a00-76e5e3f50c3b
/MMN.Institucional/bin
/MMN.Institucional/obj
Debug
*.jpg
/NobleBeautyMvc5/Uploads/Kits
